1. Conditional Statements in Python
ðŸ”¹ Definition:

Conditional statements are used to make decisions in Python.
They execute certain blocks of code depending on whether a condition is True or False.

ðŸ”¹ Types:

if statement

if...else statement

if...elif...else statement

Nested if

Example 1: Simple if Statement

In [1]:
age = 20
if age >= 18:
    print("You are eligible to vote.")

You are eligible to vote.

In [ ]:
You are eligible to vote.

Example 2: if...else Statement

In [ ]:
num = 5
if num % 2 == 0:
    print("Even number")
else:
    print("Odd number")

Odd number

Example 3: if...elif...else Statement

In [ ]:
marks = 75
if marks >= 90:
    print("Grade: A")
elif marks >= 70:
    print("Grade: B")
else:
    print("Grade: C")

Grade: B

Example 4: Nested if

In [ ]:
num = 10
if num > 0:
    if num % 2 == 0:
        print("Positive Even number")

Positive Even number

2. Loops in Python
ðŸ”¹ Definition:

Loops are used to repeat a block of code multiple times.

ðŸ”¹ Types:

for loop

while loop

Loop control statements (break, continue, pass)

Example 1: for Loop

In [ ]:
for i in range(1, 6):
    print(i)

1
2
3
4
5

Example 2: while Loop

In [ ]:
i = 1
while i <= 5:
    print(i)
    i += 1

1
2
3
4
5

Example 3: break Statement

In [ ]:
for i in range(1, 10):
    if i == 5:
        break
    print(i)

1
2
3
4

Example 4: continue Statement

In [ ]:
for i in range(1, 6):
    if i == 3:
        continue
    print(i)

1
2
4
5

3. Pattern Printing in Python

Pattern printing uses loops to create shapes like triangles, squares, etc.

Example 1: Right Triangle Pattern

In [2]:
for i in range(1, 6):
    print("*" * i)

*
**
***
****
*****

Example 2: Inverted Triangle

In [3]:
for i in range(5, 0, -1):
    print("*" * i)

*****
****
***
**
*

Example 3: Pyramid Pattern

In [4]:
rows = 5
for i in range(1, rows + 1):
    print(" " * (rows - i) + "*" * (2*i - 1))

    *
   ***
  *****
 *******
*********

Example 4: Number Pattern

In [5]:
for i in range(1, 6):
    for j in range(1, i + 1):
        print(j, end=" ")
    print()

1
1 2
1 2 3
1 2 3 4
1 2 3 4 5

1

1 2

1 2 3

1 2 3 4

1 2 3 4 5

4. Strings in Python
ðŸ”¹ Definition:

Strings are a sequence of characters enclosed in quotes (' ' or " ").

Example 1: Creating Strings

In [ ]:
name = "Python"
print(name)

Example 2: String Concatenation

In [ ]:
first = "Hello"
second = "World"
print(first + " " + second)

Hello World

Example 3: String Indexing and Slicing

In [ ]:
text = "Python"
print(text[0])     # First character
print(text[-1])    # Last character
print(text[1:4])   # Slice

P

n

yth

Example 4: String Functions

In [ ]:
text = "hello world"
print(text.upper())
print(text.title())
print(text.replace("world", "Python"))
print(len(text))

HELLO WORLD

Hello World

hello Python

11

Example 5: Loop through String

In [ ]:
for ch in "Python":
    print(ch)

P

y

t

h

o

n

In [6]:
# Print "BHAVYARAJSINH" using star-pattern block letters
letters = {
    "A": [
        "  ***  ",
        " *   * ",
        "*     *",
        "*******",
        "*     *",
        "*     *",
        "*     *"
    ],
    "B": [
        "****** ",
        "*     *",
        "*     *",
        "****** ",
        "*     *",
        "*     *",
        "****** "
    ],
    "H": [
        "*     *",
        "*     *",
        "*     *",
        "*******",
        "*     *",
        "*     *",
        "*     *"
    ],
    "V": [
        "*     *",
        "*     *",
        " *   * ",
        " *   * ",
        "  * *  ",
        "  * *  ",
        "   *   "
    ],
    "Y": [
        "*     *",
        " *   * ",
        "  * *  ",
        "   *   ",
        "   *   ",
        "   *   ",
        "   *   "
    ],
    "R": [
        "****** ",
        "*     *",
        "*     *",
        "****** ",
        "*   *  ",
        "*    * ",
        "*     *"
    ],
    "J": [
        "    ***",
        "      *",
        "      *",
        "      *",
        "*     *",
        "*     *",
        " ***** "
    ],
    "S": [
        " ***** ",
        "*     *",
        "*      ",
        " ****  ",
        "      *",
        "*     *",
        " ***** "
    ],
    "I": [
        "  *****",
        "    *  ",
        "    *  ",
        "    *  ",
        "    *  ",
        "    *  ",
        "  *****"
    ],
    "N": [
        "*     *",
        "**    *",
        "* *   *",
        "*  *  *",
        "*   * *",
        "*    **",
        "*     *"
    ]
}

name = "BHAVYARAJSINH"
rows = 7
spacing = "  "  # gap between letters

for r in range(rows):
    line = []
    for ch in name:
        line.append(letters[ch][r])
    print(spacing.join(line))

******   *     *    ***    *     *  *     *    ***    ******     ***        ***   *****     *****  *     *  *     *
*     *  *     *   *   *   *     *   *   *    *   *   *     *   *   *         *  *     *      *    **    *  *     *
*     *  *     *  *     *   *   *     * *    *     *  *     *  *     *        *  *            *    * *   *  *     *
******   *******  *******   *   *      *     *******  ******   *******        *   ****        *    *  *  *  *******
*     *  *     *  *     *    * *       *     *     *  *   *    *     *  *     *        *      *    *   * *  *     *
*     *  *     *  *     *    * *       *     *     *  *    *   *     *  *     *  *     *      *    *    **  *     *
******   *     *  *     *     *        *     *     *  *     *  *     *   *****    *****     *****  *     *  *     *

In [7]:
# Star pattern for THANK YOU

letters = {
    "T": [
        "*******",
        "   *   ",
        "   *   ",
        "   *   ",
        "   *   ",
        "   *   ",
        "   *   "
    ],
    "H": [
        "*     *",
        "*     *",
        "*     *",
        "*******",
        "*     *",
        "*     *",
        "*     *"
    ],
    "A": [
        "  ***  ",
        " *   * ",
        "*     *",
        "*******",
        "*     *",
        "*     *",
        "*     *"
    ],
    "N": [
        "*     *",
        "**    *",
        "* *   *",
        "*  *  *",
        "*   * *",
        "*    **",
        "*     *"
    ],
    "K": [
        "*    * ",
        "*   *  ",
        "*  *   ",
        "***    ",
        "*  *   ",
        "*   *  ",
        "*    * "
    ],
    "Y": [
        "*     *",
        " *   * ",
        "  * *  ",
        "   *   ",
        "   *   ",
        "   *   ",
        "   *   "
    ],
    "O": [
        " ***** ",
        "*     *",
        "*     *",
        "*     *",
        "*     *",
        "*     *",
        " ***** "
    ],
    "U": [
        "*     *",
        "*     *",
        "*     *",
        "*     *",
        "*     *",
        "*     *",
        " ***** "
    ],
    " ": [
        "   ",
        "   ",
        "   ",
        "   ",
        "   ",
        "   ",
        "   "
    ]
}

word = "THANK YOU"
rows = 7
spacing = "   "

for r in range(rows):
    line = []
    for ch in word:
        line.append(letters[ch][r])
    print(spacing.join(line))

*******   *     *     ***     *     *   *    *          *     *    *****    *     *
   *      *     *    *   *    **    *   *   *            *   *    *     *   *     *
   *      *     *   *     *   * *   *   *  *              * *     *     *   *     *
   *      *******   *******   *  *  *   ***                *      *     *   *     *
   *      *     *   *     *   *   * *   *  *               *      *     *   *     *
   *      *     *   *     *   *    **   *   *              *      *     *   *     *
   *      *     *   *     *   *     *   *    *             *       *****     *****